<section id="Contact" class="section">
  <div class="row">
    <div class="row md-font white-font">Contact &nbsp;<span class="pink-font md-font bold-font">Duncan</span>&nbsp; to solve your next problem.</div>
  </div>
  <div class="row">
    <a class="md-font green-font underline" href="https://www.linkedin.com/in/duncan-nevin-975093a3/" target="_blank">LinkedIn</a>
  </div>
  <div>
    <br>
    <p class="md-md-font white-font">or</p>
    <br>
  </div>
  <form id="contact-form" class="column">
    <input class="row" type="text" name="from_email" placeholder="Your@email.com">
    <input class="row" type="text" name="subject" placeholder="Subject">
    <textarea class="row" name="message" rows="10" cols="50" placeholder=""></textarea>
    <input class="btn" type="submit" value="Submit">
  </form>
</section>
