<section id="Home" class="section white-font">
  <div class="column header-content">
    <div class="row green-font">
      <div class="lg-font">{{ home.header }}</div>
    </div>
    <div class="row">
      <div class="md-font">{{{ home.subHeader }}}</div>
    </div>
    <div class="row">
      <button class="btn nav" data-nav-ref="About">Learn more</button>
    </div>
  </div>
</section>
