{{#if projects.list.length}}
<section id="Projects" class="section">
  <div class="row">
    <div class="row">
      {{#each projects.list}}
        <div class="column tile">
          <div class="row">
            <img src="{{image}}">
          </div>
          <div class="row"><a class="blue-font md-font underline" href="{{location}}" target="_blank">{{name}}</a></div>
          <div class="row">
            <p>{{description}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
{{/if}}
