<section id="Testimonials" class="section">
  {{#each testimonials.list}}
  <div class="column">
    <div class="row quote bold-font">
      <blockquote><p>{{{ text }}}</p><br><cite>-{{ author }}</cite></blockquote>
    </div>
  </div>
  {{/each}}
</section>
