<section id="Testimonials" class="section">
  <div class="row quote bold-font">
    {{#each testimonials.list}}
      <blockquote><p>{{ text }}</p><br><cite>-{{ author }}</cite></blockquote>
    {{/each}}
  </div>
</section>
