<section id="Top" class="section white-font">
  <div class="row green-font">
    <div class="lg-font">{{ heading }}</div>
  </div>
  <div class="row">
    <div class="md-font">{{{ subHeading }}}</div>
  </div>
</section>
