<!DOCTYPE html>
<html>
  <head>
    <title>Duncan Nevin</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/background.css' />
  </head>
  <body>
    <div id="App">
      {{{body}}}
    </div>
    <script src="/javascripts/AnimatedBackground.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
