<!DOCTYPE html>
<html>
  <head>
    <title>Duncan Nevin</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/background.css' />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
    <script type="text/javascript">
      (function(){
        emailjs.init("user_iQqbTktOatXj3gScN4iwK")
      })()
    </script>
  </head>
  <body>
    {{> navbar}}
    <div id="App">
      {{{body}}}
    </div>
    <script src="/javascripts/AnimatedBackground.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
