form, .column, .section, #Home, #About, #Projects, #Blog, #Contact {
  display: flex;
  flex-direction: column; }

.row, .navbar {
  display: flex;
  flex-wrap: wrap; }

.white-font.underline, .black-font.underline, .pink-font.underline, .green-font.underline, .slate-font.underline {
  border-bottom: 1px solid #4B4D4F; }

html {
  height: 100vh; }

body {
  background-color: #292E36;
  color: #4B4D4F;
  font: 16px "Raleway", sans-serif;
  line-height: 1.75rem;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

button {
  outline: none;
  text-align: center; }

a {
  color: #00B7FF;
  text-decoration: none;
  font-size: 1.6rem; }

p {
  margin: 0;
  padding: 0; }

form {
  display: flex; }
  form * {
    margin: 0.9rem 0 0;
    outline: none; }
  form input:not([type="submit"]), form textarea {
    border: none;
    border-radius: 3px;
    text-align: left !important;
    padding: 0.25rem !important; }

form input {
  border: none;
  border-radius: 3px; }

.lg-font {
  font-size: 3rem;
  line-height: 4rem; }

.md-font {
  font-size: 2rem;
  line-height: 3rem; }
  .md-font.underline {
    border-width: 3px; }

.sm-font {
  font-size: 0.7rem;
  line-height: 0.8rem; }

.md-md-font {
  font-size: 1.5rem;
  line-height: 1.75rem; }
  .md-md-font.underline {
    border-width: 3px; }

.column {
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap; }

.row {
  justify-content: center;
  text-align: center;
  max-width: 100%;
  padding: 1rem 0; }

.section {
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 0 10% 10%;
  min-height: 80vh; }
  .section:first-child {
    height: 100vh;
    padding: 0; }
  @media (max-width: 1150px) {
    .section {
      padding: 10% 0; } }

.white-font {
  color: #FFFFFF; }
  .white-font.underline {
    border-color: #FFFFFF; }

.black-font {
  color: #4B4D4F; }
  .black-font.underline {
    border-color: #4B4D4F; }

.pink-font {
  color: #F73778; }
  .pink-font.underline {
    border-color: #F73778; }

.green-font {
  color: #28C0C6; }
  .green-font.underline {
    border-color: #28C0C6; }

.slate-font {
  color: #8C8C8C; }
  .slate-font.underline {
    border-color: #8C8C8C; }

.bold-font {
  font-weight: 900; }

.btn, .nav {
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
  min-width: 10rem; }

.btn {
  background-color: transparent;
  border: 2px solid #28C0C6;
  color: #28C0C6;
  border-radius: 2rem; }
  .btn:hover {
    background-color: #28C0C6;
    color: #FFFFFF; }

.lg-img {
  height: 16rem;
  width: auto; }

.md-img {
  height: 10rem;
  width: auto; }

.section-header {
  position: absolute;
  top: 3rem; }

.avatar {
  border-radius: 50%;
  border: 3px solid #4B4D4F; }

.navbar {
  color: #FFFFFF;
  position: fixed;
  top: -100%;
  width: 100%;
  z-index: 100;
  background-color: #292E36;
  border-bottom: 5px solid #28C0C6;
  padding-left: 10%;
  transition: top 0.2s ease; }
  .navbar .active {
    color: #F73778;
    font-weight: 500; }
  .navbar:hover {
    top: 0; }
  .navbar .nav {
    padding: 0.5rem; }

#App {
  overflow: auto; }

#Home {
  cursor: crosshair; }
  #Home .header-content .row {
    margin: 0.5rem 0;
    justify-content: space-around; }

#About {
  background-color: #FFFFFF; }

#Projects {
  background-color: #F5F5F5; }
  #Projects .row {
    width: 80rem;
    max-width: 100%; }

#Testimonials {
  background-color: #F5F5F5; }
  #Testimonials .column {
    width: 100%;
    align-items: flex-start; }
  #Testimonials .column:nth-child(even) {
    align-items: flex-end; }

#Contact {
  height: min-content; }
  #Contact .column #contact-form {
    width: 40rem;
    max-width: 90%; }
  #Contact .column input, #Contact .column textarea {
    font-size: 1.4rem; }
  #Contact .column input[type="text"], #Contact .column textarea {
    width: 100%; }
  #Contact .column textarea {
    resize: none; }

.characteristic {
  width: 16rem;
  height: auto;
  padding: 2rem; }
  .characteristic .row:last-child {
    font-size: 1.3rem; }

.about-me {
  width: 24rem;
  color: #8C8C8C;
  height: min-content; }

.technical-skills {
  padding: 0 2rem; }
  .technical-skills .progress, .technical-skills .bar {
    border-radius: 3px; }
  .technical-skills .progress {
    height: min-content;
    width: 14rem;
    text-align: left;
    background-color: #8C8C8C;
    margin: 0.5rem;
    color: #FFFFFF; }
    .technical-skills .progress .bar {
      padding-left: 0.5rem;
      background-color: #28a745;
      height: 100%;
      width: 0;
      float: left;
      transition: top 0.2s ease; }

.quote {
  background: #FFFFFF;
  border-left: 10px solid #292E36;
  padding: 5%;
  color: #4B4D4F;
  text-align: left;
  font-size: 1.2rem;
  width: 50rem;
  max-width: 100%;
  margin-top: 8%; }
  .quote:before {
    color: #4B4D4F;
    content: "\201C";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }
  .quote p {
    display: inline; }
  .quote cite {
    margin-top: 2rem;
    float: right; }

.sent-spinner {
  position: absolute;
  height: 20rem;
  width: auto;
  -webkit-animation: spin 2.2s infinite linear;
  -moz-animation: spin 2.2s infinite linear;
  display: block;
  margin: 0 auto; }
  .sent-spinner svg {
    height: 10rem;
    transform: rotate(90deg);
    width: auto; }

.trail {
  fill: none; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */